html, body {
	height: 100%;
	overflow: auto;
	overflow-x:hidden;
	width:100%;
}

section {
	height: 100%;
}

.container {
	padding: 100px 0px;
}

.header-background {
	background: linear-gradient(rgba(192, 192, 192, 0.45),
		rgba(192, 192, 192, 0.45)), url('../images/student.jpg') no-repeat;
	background-size: cover;
	height: 100%;
	width: 100%;
	background-attachment: fixed;
}

.header-content {
	opacity: 1;
	position: relative;
	top: 50%;
	left: 40%;
}

.header-content input {
	padding: 7px;
}

#aboutproject p{
	line-height: 45px;
}
.title {
	border-bottom: 1px solid black;
	width: 80%;
	height: 20px; //
	padding: 0px 0px;
	margin-bottom: 50px;
}

.title span {
	font-size: 28px;
	padding: 10px 20px;
	background-color: #fff;
}

.projectimg-container {
	overflow: hidden;
	display: inline-block; //
	opacity: 0.6;
}

.projectimg-container img {
	transition: all 1s ease;
	opacity: 0.6;
}

.projectimg-container img:hover {
	opacity: 0.7;
	transform: scale(1.05); //
	transition: all 0.8s ease;
}

.card {
	width:301px;
	height:301px;
	background-color:#fff;
	cursor: pointer;
	transition: all 1s ease 0.2s;
	border: 1px solid transparent;
}

.card-back{
	padding: 20px 20px;
	position:absolute;
	top:0;
	left:0;
	transform:rotateY(180deg);
	transition: all 1s ease 0.2s;
	opacity: 0;
}


.card-front {
	transition: all 1s ease 0.3s;
	width:100%;
	height:100%;
}

.card:hover  {
	transform: rotateY(180deg);	
}
.card:hover .card-back{
	//transition-delay:0.3s;
	opacity: 1;
}
.card:hover .card-front{
	opacity:0;
}
.fa-linkedin, .fa-github, .fa-google{
	color: #808080;
}

.fa-linkedin:hover{
	color:#0077B5;
}
.fa-github:hover{
	color: #333;
}
.fa-google:hover{
	color: #db3236;
}

//results page
table tr {
	width: 100%;
}

table tr td {
	width: 33%;
}

footer{
	padding: 20px 50px;
}